<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:osgi="http://www.springframework.org/schema/osgi"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <context:annotation-config />
    <context:component-scan base-package="org.motechproject.mapper" />

    <osgi:reference id="encounterAdapter" cardinality="0..1"
        interface="org.motechproject.mrs.services.MRSEncounterAdapter" />

    <osgi:reference id="observationAdapter" cardinality="0..1"
        interface="org.motechproject.mrs.services.MRSObservationAdapter" />

    <osgi:reference id="patientAdapter" cardinality="0..1" interface="org.motechproject.mrs.services.MRSPatientAdapter" />

    <osgi:reference id="commcareService" cardinality="0..1"
        interface="org.motechproject.commcare.service.CommcareCaseService" />

    <osgi:reference id="eventRelayOsgi" cardinality="1..1" interface="org.motechproject.event.listener.EventRelay" />

    <bean class="org.motechproject.event.listener.annotations.EventAnnotationBeanPostProcessor" />

    <bean class="org.motechproject.event.listener.annotations.EventAnnotationBeanPostProcessor" />

    <osgi:reference id="eventRegistrationOsgi" cardinality="0..1"
        interface="org.motechproject.event.listener.EventListenerRegistryService" />

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/webapp/" />
        <property name="suffix" value=".jsp" />
        <property name="viewClass" value="org.motechproject.mapper.BundledJspView" />
    </bean>

    <mvc:annotation-driven />
</beans>
